#addCardContent {
    margin-top: 4%;
    padding-bottom: 2%;
    border-bottom: 1px solid #ddd;
}
#sortByContent {
    margin-top: 2%;
    margin-bottom: 3%;
    display: inline-block;
}
.deleteUser {
    position: absolute;
    right: 30px;
    top: 10px;
}
#sortByContent a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.caret-reversed {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
